<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<table>
    <h2><span th:text="${user}"/>님의 프로젝트</h2>
    <thead>
    <tr>
        <th>프로젝트 이름</th>
        <th>관리자 아이디</th>
        <th>프로젝트 상태</th>
        <th>권한</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${adminProjects}">
        <td>
           <a th:text="${project.name}" th:href="@{'/projects/detail/' + ${project.projectId} +'?status=admin'}"></a>
        </td>
        <td th:text="${project.adminId}"></td>
        <td th:text="${project.status}"></td>
        <td>관리자</td>
    </tr>
    <tr th:each="project : ${memberProjects}">
        <td>
            <a th:text="${project.name}" th:href="@{'/projects/detail/' + ${project.projectId}}"></a>
        </td>
        <td th:text="${project.adminId}"></td>
        <td th:text="${project.status}"></td>
        <td>멤버</td>
    </tr>
    </tbody>
</table>
</body>
</html>